.root {
    -background-color: white;
    -letter-color: white;
    -black: #121213;
    -wrong: #3a3a3c;
    -misplaced: #b59f3b;
    -exact: #538d4e;
}

.scene {
    -fx-background-color: -background-color;
}

#topPane {
    -fx-orientation: horizontal;
    -fx-alignment: center;
    -fx-spacing: 5;
    -fx-hgap: 10;
}

#root{
    -fx-background-color: white;
    -fx-spacing: 10;
    -fx-padding: 50;
    -fx-alignment: center;
}

.title {
    -fx-font-family: 'Helvetica';
    -fx-font-size: 37px;
    -fx-font-weight: 700;
    -fx-text-fill: -black;
    -fx-alignment: top-center;
}

.tile {
    -fx-fill: white;
    -fx-stroke: #d0d0d0;
    -fx-stroke-width: 2px;
    -fx-pref-tile-width: 60px;
    -fx-pref-tile-height: 60px;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 2.4;
}

.tile.wrong {
    -fx-fill: -wrong;
}

.tile.misplaced {
    -fx-fill: -misplaced;
}

.tile.exact {
    -fx-fill: -exact;
}

.keyboard-letter {
    -fx-background-color: lightgrey;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 0,0,0,0;
    -fx-pref-width: 44;
    -fx-pref-height: 58;
}

.keyboard-letter.enter {
    -fx-font-size: 15px;
    -fx-pref-width: 55;
}

.keyboard-letter.delete {
    -fx-font-size: 15px;
    -fx-pref-width: 63;
}

.keyboard-letter.exact {
    -fx-background-color: -exact;
    -fx-text-fill: white;
}

.keyboard-letter.misplaced {
    -fx-background-color: -misplaced;
    -fx-text-fill: white;
}

.keyboard-letter.wrong {
    -fx-background-color: -wrong;
    -fx-text-fill: white;
}